* {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header style */

.banner{
  display: flex;
  justify-content: space-between;
  background-color: rgba(229, 84, 115, 0.1);
  padding: 50px 240px 0;
}

.banner-content {
   flex: 1 1 708px;
  padding-top: 147px;
  padding-bottom: 147px;
}
.banner-title{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 80px;
font-weight: 800;
line-height: 1.2;
letter-spacing: 0;
text-align: left;
margin-bottom: 24px;
}
.banner-description{
  color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0;
text-align: left;
margin: 32px 0;
}
.banner-btn{
  width: 177px;
  box-sizing: border-box;
  border-radius: 8px;
background: rgb(229, 84, 115);
border: none;
color: rgb(255, 255, 255);
font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0;
text-align: center;
padding: 20px 38px;
 cursor: pointer;
}
.banner-img {
  /* max-width: 635px;
  flex: 1; */
  flex: 1 1 635px;
  display: flex;
  justify-content: flex-end;
}

.banner-img img {
  max-width: 100%;
  height: auto;
}
/* media quary */
@media (max-width: 576px) {
  .banner {
    flex-direction: column;
    padding: 40px 20px;
  }
  .banner-content{
    padding: 20px 0;
  }
  .banner-content,
  .banner-img {
    max-width: 100%;
    flex: none;
    /* padding: 0; */
    margin: 0;
  }
  .banner-title{
    font-size: 40px;
    line-height: 1.1;
  }
  
  .banner-img {
   justify-content: center;
   margin-top: 32px;
  }

  .banner-img img {
    max-width: 90%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner{
    flex-direction: column;
    gap: 90px;
    padding: 10px 50px;
  }
  .banner-content {
   flex: 1 1 708px;
  }
 .banner-img {
   flex: 1 1 635px;
  }

  .banner-title{
    font-size: 60px;
    line-height: 1.1;
  }
  .banner-img img {
    max-width: 90%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .banner{
    flex-direction: row;
    gap: 50px;
    padding: 20px 50px;
  }
  .banner-content{
    flex: 1 1 708px;
  }
  .banner-img {
   flex: 1 1 635px;
  }
  
}
/* main styles */
.flowers{
  max-width: 1140px;
  margin: 0 auto;
}
.flower-container{
  margin:  178px auto 0;
  width: 598px;
  height: 132px;
}
.flower-title{
  color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.flower-description{
  color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;
}
